# Local/private config goes in the include
[init]
    templatedir = ~/.git-templates
    defaultBranch = main
[alias]
    # https://www.erikschierboom.com/2020/02/17/cleaning-up-local-git-branches-deleted-on-a-remote/
    gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
    # all ignored and untracked files are also stashed and then cleaned up with git clean
    staash = stash --all
    bb = !~/bin/better-git-branch.sh
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    # use n and N to move between diff sections
    navigate = true
    side-by-side = true
    diff-so-fancy = true
    paging-mode = never
    # https://dandavison.github.io/delta/supported-languages-and-themes.html
    features = tokyonight_night
    dark = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[fetch]
    prune = true
[commit]
    gpgsign = true
[rebase]
    updateRefs = true
[rerere]
    enabled = true
[include]
    {{- if eq .system "work" }}
    path = ~/.gitconfig.work
    {{- else }}
    path = ~/.gitconfig.personal
    {{- end }}
{{- if eq .system "work" }}
[includeIf "gitdir:~/Projects/writing/obsidian-vault/"]
    path = ~/.gitconfig.personal
[includeIf "gitdir:~/.local/share/chezmoi/"]
    path = ~/.gitconfig.personal
[includeIf "gitdir:~/.config/nvim/"]
    path = ~/.gitconfig.personal
{{- end }}
