[
  {
    "name": "dotfiles",
    "rootPath": "/Users/{{ username }}/Projects/code/vscode-workspaces/dotfiles.code-workspace",
    "paths": [],
    "tags": [],
    "enabled": true
  },
  {
    "name": "itdad",
    "rootPath": "/Users/{{ username }}/Projects/code/vscode-workspaces/itdad.code-workspace",
    "paths": [],
    "tags": [],
    "enabled": true
  }
]
