[Desktop Entry]
Name=GnomeTerminal
Comment=Use the command line
Keywords=shell;prompt;command;commandline;cmd;
TryExec=gnome-terminal
Exec=gnome-terminal
Icon=/usr/share/icons/Adwaita/scalable/apps/utilities-terminal-symbolic.svg
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
X-GNOME-SingleWindow=false
